<%- include('../partials/header') %>
 <h5> <%=title%></h5> 
<body style="background-color:powderblue;">
  <div>
<ul class="list-group">
 
  <li class="list-group-item"> Hello, my name is Betelhem Shenkut.
I have a background in marketing management. Currently, I am a software development student in the Year Up program. I am passionately working to become a UX/UI designer. I love providing users with positive experiences they won’t forget, and my marketing background has given me a strong understanding of studying customer needs. 
During my journey in Year Up, I am actively strengthening multiple skills like HTML / CSS, JavaScript, and Business Communication. I would like to pursue my BA degree in Application Development in the future. Feel free to contact me and find ways to grow together!</li>

</ul>
  </div>
   
  
  	
<%- include('../partials/footer') %>